<?xml version="1.0"?>
<launch>
  <arg name="world" value="$(find gazebo_aerial_manipulation_plugin)/worlds/quadrotor.world"/>
  <arg name="log" value="$(find gazebo_aerial_manipulation_plugin)/log"/>
  <node pkg="gazebo_aerial_manipulation_plugin" type="joy_cmd_publisher.py" name="joy_transporter"/>
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="deadzone" type="double" value="0.01"/>
    <param name="autorepeat_rate" type="double" value="50"/>
  </node>
  <node pkg="gazebo_aerial_manipulation_plugin" type="gazebo" name="gazebo_node" args="$(arg world)"/>
  <node pkg="rosbag" type="record" name="rosbag" args="-o $(arg log)/joy_quad /base_pose /rpyt_command"/>
</launch>
