<?xml version="1.0"?>
<launch>
  <arg name="log" default="$(find gazebo_aerial_manipulation_plugin)/log"/>
  <arg name="world_file" default="quadrotor.world"/>
  <arg name="record" default="false"/>
  <include file="$(find gazebo_aerial_manipulation_plugin)/launch/empty_world.launch">
    <arg name="world" value="$(find gazebo_aerial_manipulation_plugin)/worlds/$(arg world_file)"/>
  </include>
  <node pkg="gazebo_aerial_manipulation_plugin" type="joy_cmd_publisher.py" name="joy_transporter"/>
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="deadzone" type="double" value="0.01"/>
    <param name="autorepeat_rate" type="double" value="50"/>
  </node>
  <node pkg="rosbag" type="record" name="rosbag" args="-o $(arg log)/joy_airm /base_pose /rpyt_command /joint_command /joint_state" if="$(arg record)"/>
</launch>
